.GuessCards-container,
.GuessCards-score-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.GuessCard-container,
.GuessCards-score {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

.GuessCards-score {
  text-align: center;
  color: red;
  font-size: 50px;
}

.GuessCard-image {
  display: block;
  max-width: 250px;
  max-height: 500px;
  min-height: 250px;
  margin: 0 auto;
}

.GuessCard-input {
  display: block;
  max-width: 200px;
  margin: 10px auto;
}

.GuessCard-buttons {
  margin: 10px;
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

.GuessCard-button {
  display: block;
  float: right;
}

.hidden {
  display: none;
}
