$background-color: white;
$color: #7b6666;
$highlight-color: #c32727;

html, body {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
}

.GuessCards-container,
.GuessCards-score-container {
  color: $color;
  max-width: 40rem;
  min-height: 40rem;
}

.GuessCard-container,
.GuessCards-score {
  background-color: white;
  border: .2rem solid $background-color;
  border-radius: 1rem;
  padding: 2rem;
}

.GuessCard-container {
  position: relative;
  transform: rotate(2deg);
  z-index: 5;

  &::before,
  &::after {
    background-color: darken($highlight-color, 2);
    border: .2rem solid $background-color;
    border-radius: 1rem;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(-10deg);
    z-index: -1;
  }

  &::after {
    background-color: darken($highlight-color, 20);
    transform: rotate(-4deg);
    z-index: -2;
  }
}

.GuessCards-score-container {

  &::after {
    animation: animatedBackground 40s linear infinite;
    background: center no-repeat url('../images/futurama_background.png');
    border-radius: 1rem;
    bottom: 0;
    content: '';
    left: 0;
    opacity: .4;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

@keyframes animatedBackground {
  from {
    background-position: -50 0;
  }

  to {
    background-position: 100% 0;
  }
}

.GuessCards-score {
  background-color: $background-color;
  font-size: 3rem;
  margin-top: 30rem;
  text-align: center;
  transform: rotate(-6deg);

  span {
    color: $highlight-color;
  }
}

.GuessCard-article {
  background-color: $background-color;
  border: .2rem solid $background-color;
  border-radius: 1rem;
  padding: 2rem;
  position: relative;
  z-index: 5;
}

.GuessCard-image {
  display: block;
  height: 30rem;
  margin: 2rem 0;
  width: auto;
}

.GuessCard-input {
  border: 0;
  display: block;
  float: left;
  font-size: 2rem;
  outline: 0;
  width: 50%;
}

.GuessCard-buttons {
  text-align: right;
}

.GuessCardButton {
  background-color: $background-color;
  border: 0;
  color: $highlight-color;
  cursor: pointer;
  font-size: 2rem;

  &:disabled {
    color: $background-color;
  }
}

.hidden {
  display: none;
}
